header {
  .header-top {
    // background-color: #47bcf4;
    position: absolute;
    // top: 0px;
    // right: 1px;
    // left: 44px;
    z-index: 5;
    color: #fff;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    // margin-top: 25px;
    .head_container {
      .row {
        nav {
          .navbar-list {
            display: flex;
            justify-content: space-evenly;
            li {
              list-style: none;
              .dronediv {
                position: absolute;
                top: 60px;
                background-color: white;
                visibility: hidden;
                overflow: hidden;
                transition: 0.7s all;
                height: 140px;
                width: 540px;
                &.active {
                  visibility: visible;
                }
                .ull {
                  display: flex;
                  padding-left: 15px;
                  .head {
                    padding: 0;
                    list-style: none;
                    margin-right: 57px;
                    margin-top: 18px;
                    font-size: 15px;
                    color: #666;
                    font-weight: 500;
                    text-transform: capitalize;
                  }
                  a {
                    text-decoration: none;
                    color: #666;
                  }
                  .line {
                    width: 97px;
                    height: 1px;
                    background-color: #cfcccc;
                    margin-top: 8px;
                  }
                  .category {
                    margin: 0;
                    padding: 0;
                    margin-top: 11px;
                    display: block;
                    li {
                      color: #5d5b5b;
                      list-style: none;
                      font-size: 13px;
                      font-weight: 400;
                      clear: both;
                      padding-bottom: 5px;
                      text-transform: capitalize;
                    }
                  }
                }
              }
              .accesoriesdiv {
                position: absolute;
                top: 60px;
                background-color: white;
                visibility: hidden;
                overflow: hidden;
                transition: 0.7s all;
                height: 140px;
                width: 389px;
                &.active {
                  visibility: visible;
                }
                .ull {
                  display: flex;
                  padding-left: 15px;
                  .head {
                    padding: 0;
                    list-style: none;
                    margin-right: 57px;
                    margin-top: 18px;
                    font-size: 15px;
                    color: #666;
                    font-weight: 500;
                    text-transform: capitalize;
                  }
                  a {
                    text-decoration: none;
                    color: #666;
                  }
                  .line {
                    width: 97px;
                    height: 1px;
                    background-color: #cfcccc;
                    margin-top: 8px;
                  }
                  .category {
                    margin: 0;
                    padding: 0;
                    margin-top: 11px;
                    display: block;
                    li {
                      color: #5d5b5b;
                      list-style: none;
                      font-size: 13px;
                      font-weight: 400;
                      clear: both;
                      padding-bottom: 5px;
                      text-transform: capitalize;
                    }
                  }
                }
              }
              a {
                text-decoration: none;
                color: #fff;
                list-style: none;
                &:hover {
                  color: black;
                }
              }
            }
          }
        }

        .icons {
          display: flex;
          justify-content: flex-end;
          svg {
            margin-left: 20px;
          }
        }
      }
    }
    .mobile_container {
      background-color: white;
      color: black;
      height: 60px;
      margin-bottom: 20px;
      padding-top: 9px;

      .row {
        align-items: center;
        .hamburger-search-icons {
          display: flex;
          margin-left: 34px;
          svg {
            margin-left: 10px;
          }
          .search-icon {
            position: relative;
            .searchDiv {
              visibility: hidden;
              overflow: hidden;
              position: absolute;
              top: 48px;
              &.active {
                visibility: visible;
              }
              .search-input {
                position: relative;
                input {
                  position: relative;
                  width: 255px;
                  height: 40px;
                  border: 1px solid white;
                }
                img {
                  position: absolute;
                  left: 225px;
                  top: 11px;
                }
              }
            }
          }
          .hamburgerMenuDiv {
            visibility: hidden;
            overflow: hidden;
            position: fixed;
            left: 0px;
            top: 10px;
            height: 100vh;
            width: 300px;
            transition: 0.9s;

            background-color: white;
            &.active {
              visibility: visible;
            }
            .close {
              position: relative;
              svg {
                position: absolute;
                right: 5px;
              }
            }
            ul {
              margin-top: 55px;
              list-style: none;
              padding-left: 10px;
              position: relative;
              li {
                svg {
                  position: absolute;
                  right: 7px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 391px) {
            .hamburger-search-icons {
              margin-left: -11px;
            }
          }

        .logo {
          display: flex;
          justify-content: center;
          img {
            width: 158px;
          }
          @media screen and (min-width: 391px) and (max-width: 821px) {
            img {
              width: 200px;
            }
          }
        }
        .person-basket-icons {
          display: flex;
          margin-left: 137px;
          svg {
              margin-right: 10px;
            }
            
          .personDiv {
            transition: all 0.5s;
            visibility: hidden;
            overflow: hidden;
            height: 248px;
            width: 297px;
            background-color: white;
            position: absolute;
            top: 48px;
            right: 130px;
            padding: 9px 15px;
            &.active {
              visibility: visible;
            }
            ul {
              padding: 1px;
              li {
                list-style: none;

                a {
                  text-decoration: none;
                  color: #888;
                  font-size: 12px;
                  font-weight: 500;
                  padding: 5px 10px;
                }
              }
            }
            .language-selector {
              border-top: 1px solid #e5e5e5;
              border-bottom: 1px solid #e5e5e5;
              padding-top: 10px;
              margin: 10px 0;
              font-size: 14px;
              color: #232323;
              white-space: nowrap;
              ul {
                display: flex;
                padding-left: 9px;
                li {
                  padding-right: 20px;
                  color: #888;
                  font-size: 12px;
                  font-weight: 500;
                  padding-top: 5px;
                }
              }
            }
            .currency-selector {
              font-size: 14px;
              color: #232323;
              ul {
                display: flex;
                li {
                  color: #888;
                  font-size: 12px;
                  font-weight: 500;
                  padding: 5px 10px;
                  text-align: left;
                  svg {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 391px) {
            .person-basket-icons {
              margin-left: 43px;
            }
          }
      }
    }
  }

  .carousel {
    position: relative;
    .carousel-inner {
      .text {
        position: absolute;
        top: 138px;
        left: 74px;
        .sub-title {
          font-size: 34px;
          text-transform: unset;
          margin-bottom: 20px;
          line-height: 34px;
          letter-spacing: 0.8px;
        }
        .main-title {
          font-size: 74px;
          text-transform: unset;
          line-height: 80px;
          margin-bottom: 27px;
          letter-spacing: 0.7px;
          font-weight: 600;
        }
        .slider-btn {
          span {
            width: max-content;
            font-size: 14px;
            border-radius: 30px;
            background-color: #eb4d4b;
            color: #fff;
            font-weight: 400;
            padding: 10px 25px;
            transition: all 0.5s;
          }
        }
      }
      .text2 {
        position: absolute;
        top: 99px;
        right: 118px;
        .sub-title {
          font-size: 34px;
          text-transform: unset;
          margin-bottom: 20px;
          line-height: 34px;
          letter-spacing: 0.8px;
        }
        .main-title {
          font-size: 74px;
          text-transform: unset;
          line-height: 80px;
          margin-bottom: 27px;
          letter-spacing: 0.7px;
          font-weight: 600;
        }
        .slider-btn {
          span {
            width: max-content;
            font-size: 14px;
            border-radius: 30px;
            background-color: #eb4d4b;
            color: #fff;
            font-weight: 400;
            padding: 10px 25px;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
