body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  color: #7a7a7a !important;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 18px !important;
  letter-spacing: 0.5px !important;
}
body .htc-image-container {
  margin-bottom: 30px;
  background-image: url("/assets/photos/HTCtouch/htcimagecontainer.png");
  background-position: center;
  background-attachment: fixed;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 140px;
}
body .htc-image-container .title {
  color: #232323;
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0;
  line-height: 24px;
}
body .htc-image-container .title ul {
  background: transparent;
  padding: 60px 15px;
  height: 15px;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}
body .htc-image-container .title ul li {
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  margin-right: 20px;
}
body .htc-image-container .title ul li a {
  transition: 0.5s;
  text-decoration: none;
  color: black;
}
body #Product .product-left .product-image-show {
  padding-top: 20px;
  padding-left: 25px;
}
body #Product .product-left .product-image-show .show-img {
  position: relative;
  margin-left: 6px;
}
body #Product .product-left .product-image-show .show-img .left_arrow {
  position: absolute;
  top: 57px;
  left: -11px;
  background-color: #eb4d4b;
  padding: 9px 12px;
  color: white;
  border-radius: 64px;
  z-index: 550;
}
body #Product .product-left .product-image-show .show-img .left_arrow:hover {
  transition: all 0.7s;
  background-color: #232323;
}
body #Product .product-left .product-image-show .right_arrow {
  position: absolute;
  top: 57px;
  right: 11px;
  background-color: #eb4d4b;
  padding: 9px 12px;
  color: white;
  border-radius: 64px;
  z-index: 550;
}
body #Product .product-left .product-image-show .right_arrow:hover {
  transition: all 0.7s;
  background-color: #232323;
}
body #Product .product-left .image {
  width: 148px;
  margin-left: 25px;
}
body #Product .product-left .image img {
  padding-bottom: 10px;
}
body #Product .product-right {
  position: sticky;
  top: 20px;
  margin-bottom: 30px;
}
body #Product .product-right .product-right-head h1 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
body #Product .product-right .share {
  display: flex;
}
body #Product .product-right .rating {
  margin: 10px 0 20px;
}
body #Product .product-right .rating span {
  margin-left: -3px;
}
body #Product .product-right .rating span .yellow {
  color: #fec42d;
}
body #Product .product-right .rating a {
  color: #7a7a7a;
  text-decoration: none;
}
body #Product .product-right .rating .write {
  margin-left: 10px;
}
body #Product .product-right .rating .reviews {
  margin-right: 10px;
}
body #Product .product-right .price {
  list-style: none;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  color: #232323;
}
body #Product .product-right .price li h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 600;
  color: #232323;
}
body #Product .product-right .shop {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  clear: both;
}
body #Product .product-right .shop label {
  float: left;
  margin: 8px 8px 8px 0;
  font-size: 14px;
  color: #232323;
  font-weight: 500;
}
body #Product .product-right .shop .shopinput {
  margin-right: 6px;
  margin-bottom: 0;
  width: auto;
  float: left;
  height: 37px;
  text-align: center;
  border-radius: inherit;
}
body #Product .product-right .shop .addtoCart {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding: 8px 15px;
  font-size: 14px;
  background-color: #eb4d4b;
  border-radius: inherit;
}
body #Product .product-right .shop .addtoCart:hover {
  background-color: black;
  transition: all 0.9s;
}
body #Product .product-right .shop .wishlist {
  padding: 0;
  fill: #fff;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
  border: 0;
  text-align: center;
  background-color: #eb4d4b;
  border-radius: inherit;
}
body #Product .product-right .shop .wishlist:hover {
  background-color: black;
  transition: all 0.9s;
}
body #Product .product-right .shop .wishlist i {
  color: #fff;
}
body #Product .product-right .shop .exchange {
  padding: 0;
  fill: #fff;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
  border: 0;
  text-align: center;
  background-color: #eb4d4b;
  border-radius: inherit;
}
body #Product .product-right .shop .exchange:hover {
  background-color: black;
  transition: all 0.9s;
}
body #Product .product-right .shop .exchange svg {
  color: #fff;
}
body #Product .product-right .features {
  padding: 20px 0 0;
  border-top: 1px solid #eee;
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
  text-align: center;
}
body #Product .product-right .features li {
  list-style: none;
  line-height: 35px;
  padding: 5px 5px 0;
  float: left;
  border: 1px solid #eee;
  margin-right: 15px;
  color: #666;
  margin-bottom: 15px;
}
body #Product .product-right .features li span {
  font-weight: 400;
  color: #232323;
  font-size: 13px;
  display: block;
  text-transform: uppercase;
  background: #f4f4f4;
  width: 217px;
}
body #Product .product-right .features li a {
  text-decoration: none;
  color: #666;
}/*# sourceMappingURL=HTCtouch.css.map */