header .header-top {
  position: absolute;
  z-index: 5;
  color: #fff;
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
}
header .header-top .head_container .row nav .navbar-list {
  display: flex;
  justify-content: space-evenly;
}
header .header-top .head_container .row nav .navbar-list li {
  list-style: none;
}
header .header-top .head_container .row nav .navbar-list li .dronediv {
  position: absolute;
  top: 60px;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
  transition: 0.7s all;
  height: 140px;
  width: 540px;
}
header .header-top .head_container .row nav .navbar-list li .dronediv.active {
  visibility: visible;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull {
  display: flex;
  padding-left: 15px;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull .head {
  padding: 0;
  list-style: none;
  margin-right: 57px;
  margin-top: 18px;
  font-size: 15px;
  color: #666;
  font-weight: 500;
  text-transform: capitalize;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull a {
  text-decoration: none;
  color: #666;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull .line {
  width: 97px;
  height: 1px;
  background-color: #cfcccc;
  margin-top: 8px;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull .category {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  display: block;
}
header .header-top .head_container .row nav .navbar-list li .dronediv .ull .category li {
  color: #5d5b5b;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  clear: both;
  padding-bottom: 5px;
  text-transform: capitalize;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv {
  position: absolute;
  top: 60px;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
  transition: 0.7s all;
  height: 140px;
  width: 389px;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv.active {
  visibility: visible;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull {
  display: flex;
  padding-left: 15px;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull .head {
  padding: 0;
  list-style: none;
  margin-right: 57px;
  margin-top: 18px;
  font-size: 15px;
  color: #666;
  font-weight: 500;
  text-transform: capitalize;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull a {
  text-decoration: none;
  color: #666;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull .line {
  width: 97px;
  height: 1px;
  background-color: #cfcccc;
  margin-top: 8px;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull .category {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  display: block;
}
header .header-top .head_container .row nav .navbar-list li .accesoriesdiv .ull .category li {
  color: #5d5b5b;
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  clear: both;
  padding-bottom: 5px;
  text-transform: capitalize;
}
header .header-top .head_container .row nav .navbar-list li a {
  text-decoration: none;
  color: #fff;
  list-style: none;
}
header .header-top .head_container .row nav .navbar-list li a:hover {
  color: black;
}
header .header-top .head_container .row .icons {
  display: flex;
  justify-content: flex-end;
}
header .header-top .head_container .row .icons svg {
  margin-left: 20px;
}
header .header-top .mobile_container {
  background-color: white;
  color: black;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 40px;
}
header .header-top .mobile_container .row {
  align-items: center;
}
header .header-top .mobile_container .row .hamburger-search-icons {
  display: flex;
  margin-left: 34px;
}
header .header-top .mobile_container .row .hamburger-search-icons svg {
  margin-left: 10px;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon {
  position: relative;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon .searchDiv {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 48px;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon .searchDiv.active {
  visibility: visible;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon .searchDiv .search-input {
  position: relative;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon .searchDiv .search-input input {
  position: relative;
  width: 255px;
  height: 40px;
  border: 1px solid white;
}
header .header-top .mobile_container .row .hamburger-search-icons .search-icon .searchDiv .search-input img {
  position: absolute;
  left: 225px;
  top: 11px;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv {
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 10px;
  height: 100vh;
  width: 0px;
  transition: 0.9s;
  z-index: 5555;
  background-color: white;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv.active {
  width: 300px;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv .close {
  position: relative;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv .close svg {
  position: absolute;
  right: 5px;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv ul {
  margin-top: 55px;
  list-style: none;
  padding-left: 10px;
  position: relative;
}
header .header-top .mobile_container .row .hamburger-search-icons .hamburgerMenuDiv ul li svg {
  position: absolute;
  right: 7px;
}
@media screen and (max-width: 391px) {
  header .header-top .mobile_container .row .hamburger-search-icons {
    margin-left: -11px;
  }
}
header .header-top .mobile_container .row .logo {
  display: flex;
  justify-content: center;
}
header .header-top .mobile_container .row .logo img {
  width: 158px;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  header .header-top .mobile_container .row .logo img {
    width: 200px;
  }
}
header .header-top .mobile_container .row .person-basket-icons {
  display: flex;
  margin-left: 137px;
}
header .header-top .mobile_container .row .person-basket-icons svg {
  margin-right: 10px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv {
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  height: 248px;
  width: 297px;
  background-color: white;
  position: absolute;
  top: 48px;
  right: 130px;
  padding: 9px 15px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv.active {
  visibility: visible;
  opacity: 1;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv ul {
  padding: 1px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv ul li {
  list-style: none;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv ul li a {
  text-decoration: none;
  color: #888;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .language-selector {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  margin: 10px 0;
  font-size: 14px;
  color: #232323;
  white-space: nowrap;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .language-selector ul {
  display: flex;
  padding-left: 9px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .language-selector ul li {
  padding-right: 20px;
  color: #888;
  font-size: 12px;
  font-weight: 500;
  padding-top: 5px;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .currency-selector {
  font-size: 14px;
  color: #232323;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .currency-selector ul {
  display: flex;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .currency-selector ul li {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  text-align: left;
}
header .header-top .mobile_container .row .person-basket-icons .personDiv .currency-selector ul li svg {
  margin: 0;
}
@media screen and (max-width: 391px) {
  header .header-top .mobile_container .row .person-basket-icons {
    margin-left: 43px;
  }
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  header .header-top {
    z-index: 5;
    color: #fff;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 391px) {
  header .header-top {
    z-index: 5;
    color: #fff;
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.carousel {
  position: relative;
}
.carousel .carousel-inner .text {
  position: absolute;
  top: 210px;
  left: 88px;
}
.carousel .carousel-inner .text .sub-title {
  font-size: 37px;
  text-transform: unset;
  margin-bottom: 20px;
  line-height: 34px;
  letter-spacing: 0.8px;
}
.carousel .carousel-inner .text .main-title {
  font-size: 74px;
  text-transform: unset;
  line-height: 80px;
  margin-bottom: 27px;
  letter-spacing: 0.7px;
  font-weight: 700;
}
.carousel .carousel-inner .text .slider-btn span {
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  border-radius: 30px;
  background-color: #eb4d4b;
  color: #fff;
  font-weight: 400;
  padding: 10px 25px;
  transition: all 0.5s;
}
.carousel .carousel-inner .text .desc {
  width: 474px;
  font-weight: 500;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  .carousel .carousel-inner .text {
    font-size: 14px;
    position: absolute;
    top: 37px;
    left: 60px;
  }
  .carousel .carousel-inner .text .sub-title {
    font-size: 20px;
  }
  .carousel .carousel-inner .text .main-title {
    font-size: 40px;
    line-height: 19px;
  }
  .carousel .carousel-inner .text .desc {
    width: 290px;
  }
}
.carousel .carousel-inner .text2 {
  position: absolute;
  top: 145px;
  right: 145px;
}
.carousel .carousel-inner .text2 .sub-title {
  font-size: 34px;
  text-transform: unset;
  margin-bottom: 20px;
  line-height: 34px;
  letter-spacing: 0.8px;
}
.carousel .carousel-inner .text2 .main-title {
  font-size: 74px;
  text-transform: unset;
  line-height: 80px;
  margin-bottom: 27px;
  letter-spacing: 0.7px;
  font-weight: 700;
}
.carousel .carousel-inner .text2 .slider-btn span {
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  border-radius: 30px;
  background-color: #eb4d4b;
  color: #fff;
  font-weight: 400;
  padding: 10px 25px;
  transition: all 0.5s;
}
.carousel .carousel-inner .text2 .desc {
  width: 486px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
@media screen and (min-width: 391px) and (max-width: 821px) {
  .carousel .carousel-inner .text2 {
    font-size: 14px;
    position: absolute;
    top: 45px;
    right: 70px;
  }
  .carousel .carousel-inner .text2 .sub-title {
    font-size: 23px;
  }
  .carousel .carousel-inner .text2 .main-title {
    font-size: 40px;
    line-height: 19px;
  }
  .carousel .carousel-inner .text2 .desc {
    width: 344px;
  }
  .carousel .carousel-inner .text2 .slider-btn span {
    position: absolute;
    top: 275px;
  }
}
@media screen and (max-width: 391px) {
  .carousel .carousel-inner .text2 {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    left: 89px;
  }
  .carousel .carousel-inner .text2 .sub-title {
    font-size: 18px;
    height: 0px;
    position: absolute;
    top: 65px;
    left: 43px;
    width: 142px;
  }
  .carousel .carousel-inner .text2 .main-title {
    font-size: 20px;
    height: 0px;
    margin-top: 65px;
    margin-left: 17px;
    display: flex;
  }
  .carousel .carousel-inner .text2 .main-title .dronP {
    margin-left: 8px;
  }
  .carousel .carousel-inner .text2 .desc {
    display: none;
  }
  .carousel .carousel-inner .text2 .slider-btn {
    position: absolute;
    bottom: 30px;
    left: 70px;
  }
  .carousel .carousel-inner .text2 .slider-btn span {
    font-size: 11px;
    font-weight: 400;
    padding: 4px 9px;
  }
}/*# sourceMappingURL=yourstore.css.map */